/* written by: Jadin Casey */

h3 {
    color: orange;
}

/* .stars, .twinkling, .clouds {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.stars {
    background: #000 url(images/stars.png) repeat top center;
    z-index: 0;
} */

